* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

nav {
  margin: 10px 0 80px 0;
}

nav ul li {
  margin-left: 20px;
}

.navbar-collapse {
  text-align: center;
}

.googleFont {
  font-family: "Roboto Mono", monospace;
}

.header {
  height: auto;
  width: 100%;
  /* background-color: hotpink; */
}

.header h1 {
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin-top: 42px;
}

.about-info {
  /* background-color: brown; */
  margin: -10px 0 50px 0;
  border-bottom: 1px solid #d6d6d6;
}

.image-background {
  width: 100%;
  /* background-color: coral; */
  padding: 50px 0;
}

.roundedImg img {
  border-radius: 50%;
}

.about {
  /* background-color: crimson; */
  width: 100%;
  margin: auto;
  /* border-left: 1px solid #d6d6d6; */
}

.about p {
  padding: 20px 0;
}

.skills {
  padding-bottom: 50px;
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 50px;
}

/* .skills img {
  filter: grey;
  -webkit-filter: grayscale(1);
  -webkit-transition: all 0.8s ease-in-out;
}

.skills img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.03);
} */

.myWork {
  width: 100%;
  /* background-color: greenyellow; */
  margin-bottom: 150px;
}

.projectsHeader {
  width: 100%;
  margin-bottom: 18px;
}

.projectsHeader h2 {
  width: 100%;
  text-align: center;
}

section {
  width: 100%;
  /* background-color: azure; */
}

section .img {
  text-align: center center;
}

/******************************** MEDIA SCREEN MAX WIDTH 768PX ******************************/

@media (max-width: 768px) {
  .navbar-collapse {
    margin-top: 30px;
  }

  .navbar-collapse ul li {
    margin-bottom: 10px;
  }
}

/********************************MEDIA SCREEN MAX WIDTH 480PX******************************/

@media (max-width: 480px) {
  .navbar-collapse {
    margin-top: 30px;
  }

  .navbar-collapse ul li {
    margin-bottom: 10px;
  }
}

/********************************MEDIA SCREEN MAX WIDTH 992PX******************************/

@media (max-width: 992px) {
  .navbar-collapse {
    margin-top: 30px;
  }

  .navbar-collapse ul li {
    margin-bottom: 10px;
  }
}
